/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0}
body{-webkit-text-size-adjust:none} input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
body {min-width:320px;background-color:#fff}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;color:#333}

a {color:#333;text-decoration:none} a:active, a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.panes {
  display: flex;
}

.pane {
  flex: 1;
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}

.main {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 400px 1fr;
  grid-template-rows: min-content 1fr;
  background-color: #e2e2e2;
  padding: 20px 0 0 20px;
}

.center-section {
  grid-row: 2;
  grid-column: 2 / 3;
  padding: 0 20px;
}

.filter-aside {
  grid-row: 2;
  grid-column: 1 / 2;
  padding: 0 10px;
}

.filter-container {
  background-color: #fff;
}

.recent-list {
  min-height: 60px;
  background-color: #fff;
  margin-bottom: 40px;
}

.list-webtoon li {border-top:1px solid #ccc}
.list-webtoon .link-webtoon {
  display:block;
  float: right;
  overflow:hidden
}
.list-webtoon .img-webtoon {
  background: #F1F1FA;
  width:148px;
  height:106px;
  margin-right:10px;
}
.list-webtoon .info-webtoon {overflow:hidden}
.list-webtoon .info-webtoon .tit-webtoon {display:block;font-size:16px;padding:8px 0}
.list-webtoon .item-webtoon {
  display: inline-block;
}
